body 
    div(class='modal fade' id='modal-1' tabindex='-1' aria-hidden='true')
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h1(class='modal-title fs-5' id='modallabel-1') Alterando Avatar!
                            .modal-body
                                h3.text-center Escolha o seu novo avatar! 
                                form(action='/me/config' method='post' name='upploader' enctype='multipart/form-data')
                                    .mb-3 
                                        input(class='form-control form-control-sm' name='file' type='file' accept='image/png, image/gif, image/jpeg')
                                    .modal-footer
                                        button(type='button' class='btn btn-secondary' data-bs-dismiss='modal') Cancelar
                                        button(type='submit' value='Upload' class='btn btn-primary') Enviar