doctype html 
html(lang='pt-br')
    head
        title página não encontrada
    body(style='background-color: rgb(70, 63, 94);')
        center 
            h1 Página não encontrada
            | eae companheiro pelo visto você encontrou algo que não existe, que tal voltar para o inicio?
            br
            img(src='https://i.imgur.com/eDAu7L3.gif' style="height: 200px;")
            a(href="/home" style="position: relative; top: -85px; color: black; background-color: blue; height: 100px;") Voltar ao inicio!