doctype html 
html(lang='pt-br')
    head 
        include includes/head.pug
        title KitsuneAnimes || Configurando perfil
    body 
        include includes/navbar.pug 
        div(class='container-md my-3 text-center')
            h1(class='text-center my-5' style='color: white; font-family: kitsune;') Configurações do perfil!
            include includes/errors/config.pug

            .container-md(style='max-width: 450px;')
                include includes/errors/trues.pug

            div(class='btn-group-vertical my-3' role='group')
                button(class='btn btn-dark' role='button' data-bs-toggle='modal' data-bs-target='#modal-1') Alterar Avatar
                button(class='btn btn-dark' role='button' data-bs-toggle='modal' data-bs-target='#modal-2') Alterar Nome de usuário
                button(class='btn btn-dark' role='button' data-bs-toggle='modal' data-bs-target='#modal-3') Alterar senha
                button(class='btn btn-danger' role='button' data-bs-toggle='modal' data-bs-target='#modal-4') Deletar conta

                include includes/modals/config.pug 