doctype html 
html(lang='pt-br')
    head 
        include includes/head.pug
        title KitsuneAnimes || Login 
    body 
        include includes/nav.pug
        h2(class='text-center my-3' style='font-family: kitsune; color: white') Login
        div.container-md(style='background-color: blanchedalmond; max-width: 400px; margin-top: 35px; border-radius: 15px;')
            br
            form(method='post' action='/login')
                .mb-3 
                    label.form-label(for='email') Email 
                    input.form-control(type='email' id='email' aria-describedby="emailHelp" name='email')
                .mb-3 
                    label.form-label(for='password') Senha 
                    input.form-control(type='password' id='password' aria-describedby="emailHelp" name='paswword')
                .g-recaptcha(data-theme='dark' data-sitekey="6LeHadkiAAAAADMgzMfUnHYp54w86Fow2O87gJlp")
                button(class='btn btn-primary' type='submit') Enviar
            hr
            div(class='list-group' role='group')
                a(class='list-group-item list-group-item-action' href='/register' role='button') Não tem uma conta, registre-se
                a(class='list-group-item list-group-item-action' href='/recoverypassword' role='button') Esqueceu a senha?
            br