doctype html 
html(lang='pt-br')
    head 
        include includes/head.pug
        title KitsuneAnimes ||  #{user.username}
    body 
        - let avatar = user.avatar


        include includes/navbar.pug
        .container-md 
            div(class='container-md text-center' style='background-image: url("https://cdn.discordapp.com/attachments/916660555543117854/1043684369996451860/unknown.png"); max-width: 500px; height: 150px; margin-top: 15px; border-radius: 15px; image-orientation:from-image;')
                img.img-thumbnail(src= avatar style="height: 100px; border-radius: 30px; margin-top: 80px;")
                h2.text-center(style='color: lavender;') 
                    | #{user.username}
                    if(user.admin)
                        img(src='/admin.png' data-bs-toggle="tooltip" data-bs-title="Admin")

            div(class='container-md text-center' style='max-width: 500px; margin-top: 5rem')
                include includes/xpbar.pug

            div(class='container-md text-center my-3' style="max-width: 500px; height: 150px; border-radius: 15px; image-orientation:from-image;")
                a(class='btn btn-dark mx-1' href='/me/config' role='button') Configurações da conta
                a(class='btn btn-danger mx-4' href='logout' role='button' ) Log Out

    script(type='text/javascript' src='/scripts/default.js')
        