doctype html
html(lang='pt-br')
    head 
        include includes/head.pug
        title KitsuneAnimes || Recuperar conta
    body
        include includes/nav.pug
        h1(class='text-center my-3' style='color: white; font-family: kitsune;') Recuperando a senha
        h3(class='text-center my-3' style='color: white;') Por favor insira seu email abaixo!
        .container-md(style='max-width: 350px')
            include includes/errors/recpwd.pug
            form(method='post' action='/recoverypwd')
                .mb-3
                    input.form-control(type='email' name='email')
                .mb-3
                    .g-recaptcha(data-theme='dark' data-sitekey='6LcBOfQiAAAAABzooizBsf-TA7rxF_kkQoMiHnfG')
                button(class='btn btn-primary' type='submit' role='button') Enviar
