body 
    nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
            .container-fluid 
              a.navbar-brand(href="/" style="font-family: kitsune")
                img(src="https://i.imgur.com/GJ2pDAd.png" width="40" height="40" style="border-radius: 12rem")
                | KitsuneAnimes
              button(class="navbar-toggler" type="button" data-bs-toggle='collapse' data-bs-target='#collapsed' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label="Toggle navigation")
                span.navbar-toggler-icon 
              div(class='collapse navbar-collapse' id='collapsed')
                ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                  li.nav-item 
                    if user 
                      a(class='nav-link active' href='/me' aria-current='page')= doc.username
                    else 
                      a(class='nav-link active' href='/login' aria-current='page') Login
                  li(class="nav-item dropdown")
                    a(class='nav-link dropdown-toggle' role="button" data-bs-toggle="dropdown" aria-expanded="false") Contatos
                    ul(class="dropdown-menu dropdown-menu-dark")
                      li
                        a.dropdown-item(href='https://twitter.com/felpzsoulsS') Twitter
                      li 
                        a.dropdown-item(href='https://twitch.tv/felpzsouls') Twitch
                      li 
                        hr.dropdown-divider
                      li 
                       a.dropdown-item(href='https://github.com/F3L1P3D4RKofc') Github
                form.d-flex(role='search' action='/search' method='post')
                  input(class='form-control me-2' type='search' placeholder='Nome do anime' aria-label='search')
                  button(class='btn btn-outline-light' type='submit') Procurar